.banner-section {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.surface {
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
    
    background-color: #FFFFFF50;
}

.surface>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: var(--color-primary);
}

.surface>hr {
    height: 0.25rem;
    background-color: var(--color-secondary);
    margin: 0;
    border: none;
}