.team-section {
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
}

.body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    row-gap: 4rem;
    column-gap: 3rem;
}

.card {
    position: relative;

    width: 24rem;
    height: 34rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.card>header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

.card>header>img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
    object-position: top;
    overflow: hidden;

    border-bottom-style: solid;
    border-bottom-width: 0.25rem;
    border-bottom-color: var(--color-secondary);
}

.card>header>h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-background-on);
    text-align: center;
}

.card>p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-background-on);
}