/** This file exports a class ".screen-container" that can be used to create a responsive container for screens.
 *  @example
 *  import styles from './screen-container.module.css';
 *  <div className={styles['screen-container']}>
 */

.screen-container {
  --screen-container_padding: 1rem;
  width: 100%;
  padding-right: var(--screen-container_padding);
  padding-left: var(--screen-container_padding);
}

@media screen and (min-width: 90rem) {
  .screen-container {
    --screen-container_padding: 1.5rem;
    --screen-container_elastic-padding: calc(
      (100vw - 90rem - 2 * var(--screen-container_padding)) / 2
    );
    padding-left: var(--screen-container_elastic-padding);
    padding-right: var(--screen-container_elastic-padding);
  }
}
