/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* root variables */
:root {
    /* colors */
    --color-primary: #08073b;
    --color-primary-on: #FFFFFF;

    --color-secondary: #DB9F59;
    --color-secondary-on: #FFFFFF;

    --color-background: #FFFFFF;
    --color-background-on: #000000;
}
